@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}


html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ccc;
}

.channel.hidden {
    display: none;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 90px;
    background: -webkit-gradient(linear, left top, left bottom, from(hsla(280, 100%, 33%, 0.8)), to(hsla(280, 100%, 33%, 0.95)));
    background: -webkit-linear-gradient(hsla(280, 100%, 33%, 0.8), hsla(280, 100%, 33%, 0.95));
    background: -o-linear-gradient(hsla(280, 100%, 33%, 0.8), hsla(280, 100%, 33%, 0.95));
    background: linear-gradient(hsla(280, 100%, 33%, 0.8), hsla(280, 100%, 33%, 0.95));
    -webkit-box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.4);
    box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.4);
}

.title {
    color: hsl(280, 100%, 33%);
    font-size: 3rem;
    font-family: 'Black Ops One', cursive;
    -webkit-text-stroke: 2px hsla(0, 98%, 98%, 0.6);
    text-shadow:
        2px 2px 5px #fff,
        -1px -1px 5px #fff,
        1px -1px 5px #fff,
        -1px 1px 5px #fff,
        1px 1px 5px #fff;
}

.menu {
    margin: 20px 0;
}

.btn {
    text-align: center;
    width: 120px;
    margin: 0 15px;
    border: 2px outset #777;
    padding: 5px 2%;
    border-radius: 5px;
    color: hsla(0, 60%, 0%, 0.5);
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-out;
}

.all {

    background: -webkit-gradient(linear, left top, left bottom, from(hsla(235, 89%, 14%, 0.6)), color-stop(hsla(235, 84%, 39%, 0.4)), to(hsla(235, 89%, 14%, 0.6)));
    background: -webkit-linear-gradient(hsla(235, 89%, 14%, 0.6), hsla(235, 84%, 39%, 0.4), hsla(235, 89%, 14%, 0.6));
    background: -o-linear-gradient(hsla(235, 89%, 14%, 0.6), hsla(235, 84%, 39%, 0.4), hsla(235, 89%, 14%, 0.6));
    background: linear-gradient(hsla(235, 89%, 14%, 0.6), hsla(235, 84%, 39%, 0.4), hsla(235, 89%, 14%, 0.6));
}

.on {

    background: -webkit-gradient(linear, left top, left bottom, from(hsla(120, 52%, 26%, 0.6)), color-stop(hsla(120, 100%, 33%, 0.4)), to(hsla(120, 52%, 26%, 0.6)));
    background: -webkit-linear-gradient(hsla(120, 52%, 26%, 0.6), hsla(120, 100%, 33%, 0.4), hsla(120, 52%, 26%, 0.6));
    background: -o-linear-gradient(hsla(120, 52%, 26%, 0.6), hsla(120, 100%, 33%, 0.4), hsla(120, 52%, 26%, 0.6));
    background: linear-gradient(hsla(120, 52%, 26%, 0.6), hsla(120, 100%, 33%, 0.4), hsla(120, 52%, 26%, 0.6));
}

.off {

    background: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 100%, 33%, 0.6)), color-stop(hsla(0, 100%, 67%, 0.4)), to(hsla(0, 100%, 33%, 0.6)));
    background: -webkit-linear-gradient(hsla(0, 100%, 33%, 0.6), hsla(0, 100%, 67%, 0.4), hsla(0, 100%, 33%, 0.6));
    background: -o-linear-gradient(hsla(0, 100%, 33%, 0.6), hsla(0, 100%, 67%, 0.4), hsla(0, 100%, 33%, 0.6));
    background: linear-gradient(hsla(0, 100%, 33%, 0.6), hsla(0, 100%, 67%, 0.4), hsla(0, 100%, 33%, 0.6));
}

.btn-active {
    border: inset;
    color: hsla(180, 100%, 60%, 0.95);
}

.content {
    padding: 0 5%;
}

.channel {
    height: 100px;
    width: 100%;
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    background: hsla(215, 70%, 39%, 0.7);
    margin: 10px auto;
    border-left: 15px solid hsl(120, 80%, 35%);
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    transition: all 0.5s ease-in-out;
}

.offline {
    border-left-color: red;
    background: hsla(215, 30%, 29%, 0.6);
}

.offline .status {
    color: #aaa;
    text-transform: uppercase;
}

.logo {
    height: 100%;
    border: 3px solid #ddd;
    border-radius: 50%;
    width: auto;
    margin: 0.3rem;
}

.channel-info {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.channel-name {
    width: 25%;
    font-size: 1.2rem;
    color: #bbb;

}

.channel-status {
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0.5rem;
}